<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.google.chrome</string>
	<key>CFBundleIdentifier</key>
	<string>com.robdejonge.LaunchBar.action.openactivesafaritabinchrome</string>
	<key>CFBundleName</key>
	<string>Open active Safari tab in Chrome</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Rob de Jonge</string>
		<key>LBSummary</key>
		<string>Takes the URL of the most recently active tab in the Safari browser, opens Google Chrome, creates a new tab with the same URL. </string>
		<key>LBTwitter</key>
		<string>@robdejonge</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/robdejonge</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Rob de Jonge</string>
</dict>
</plist>
