<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-funnel-dollar</string>
	<key>CFBundleIdentifier</key>
	<string>com.robdejonge.LaunchBar.action.currencyconversion</string>
	<key>CFBundleName</key>
	<string>Currency conversion</string>
	<key>CFBundleVersion</key>
	<string>20200419</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Rob de Jonge</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>Quickly convert currencies by entering a query in the format '# src [to] dst' where src are currency symbols and # is the amount being converted, eg. '15 usd eur'. Hit enter to query. The result is displayed 'in large type', Cmd-C copies this to the clipboard or any other key dismisses. Requires you to edit `default.scpt`, inserting your API key for </string>
		<key>LBTwitter</key>
		<string>@robdejonge</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/robdejonge</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Rob de Jonge</string>
</dict>
</plist>
